{% extends "base.html" %}
{% block nav %}
<ul class="nav navbar-nav">
	<li class="active"><a href="/">  <i class="fa fa-home"></i> Home</a></li>
	<li><a href="profile"> <i class="fa fa-user"></i>   Profile</a></li>
	<li><a href="code"><i class="fa fa-code"></i> Code</a></li>
	<li><a href="https://medium.com/@gpj" target="_blank"><i class="fa fa-pencil-square"></i>  Thoughts</a></li>
	<li><a href="pictures"><i class="fa fa-picture-o"></i>  Pictures</a></li>
	<li><a href="map"><i class="fa fa-location-arrow"></i>  Location</a></li>
	<li><a href="stream"><i class="fa fa-stream"></i>  Stream</a></li>
</ul>
{% endblock %}
