{% extends "base.html" %}
{% block nav %}
<ul class="nav navbar-nav">
	<li><a href="/">  <i class="fa fa-home"></i> Home</a></li>
	<li class="active"><a href="profile"> <i class="fa fa-user"></i>   Profile</a></li>
	<li><a href="code"><i class="fa fa-code"></i> Code</a></li>
	<li><a href="https://medium.com/@gpj" target="_blank"><i class="fa fa-pencil-square"></i>  Thoughts</a></li>
	<li><a href="pictures"><i class="fa fa-picture-o"></i>  Pictures</a></li>
	<li><a href="map"><i class="fa fa-location-arrow"></i>  Location</a></li>
	<li><a href="stream"><i class="fa fa-eye"></i>  Stream</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="sub_head orange">
	<div class="container">
		<h3><i class="fa fa-user"></i>  Profile</h3>
	</div>
</div>

<article class="container">

	<img class="pull-left round" src="https://pbs.twimg.com/profile_images/2693430926/00ade38c9896ed216c62be253a1ae80c.jpeg" />
	<div>
		<p>Name: Gareth Paul Jones</p>
		<p>Current Occupation: Developer Advocate @Twitter</p>
		<p>Past: Apple, Google, PaulSmith, TRUSTe</p>

		<br>

		<p>Twitter: <a href="https://twitter.com/gpj">@gpj</a></p>
		<p>Github: <a href="https://github.com/garethpaul">garethpaul</a></p>
	</div>

</article>
{% endblock %}
